.tenant-filter-by-data {
    width: 400px;
    margin-top: 15px;
}

.tenant-search-holder {
    width: 400px;
}

@media only screen and (max-width:768px) {
    .tenant-filter-by-data {
        width: 120px;
        margin-top: 10px;
    }
    .tenant-search-holder {
        width: 120px
    }
    .tenant-table-row-holder {
        width: 100px;
    }
}

@media only screen and (max-width:375px) {
    .tenant-filter-by-data {
        width: 50px;
        margin-top: 10px;
    }
    .tenant-search-holder {
        width: 90px
    }
    .tenant-table-row-holder {
        width: 100px;
    }
}