.admin-filter-by-data {
    width: 400px;
    margin-top: 13px;
}

.admin-search-holder {
    width: 400px;
}

@media only screen and (max-width:768px) {
    .admin-filter-by-data {
        width: 120px;
        margin-top: 10px;
    }
    .admin-search-holder {
        width: 120px;
    }
}

@media only screen and (max-width:375px) {
    .admin-filter-by-data {
        width: 50px;
        margin-top: 10px;
    }
    .admin-search-holder {
        width: 90px
    }
    .admin-table-row-holder {
        width: 100px;
    }
}